<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
</head>
<body>
  <%- include('partials/header', {title: title}) %>
  <% component.forEach(item => { %>
    <%- include('partials/category_item', {item: item}) %>
  <% }) %>
  <a href="/">Back</a>
  <%- include('partials/footer') %>
</body>
</html>

<!-- get column names
INT From: To:
TEXT Checker boxes -->