.container {
  display: grid;
  grid-template-rows: 50px 1fr 50px;
  height: 100%;
  width: 100%;
}

.links-container {
  padding: 8px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links-container > a {
  height: 30px;
  font-size: 22px;
  color: white;
}

.links-container > a:hover {
  color: rgb(138 138 255);
}